@import "colors";

body {
    background-color: $opal-light;

    font-family: sans-serif;
}

#title {
    text-align: center;

    font-family: monofur, monospace;
}

nav {
    text-decoration: none;

    background-color:  $opal-darkest;
    ul {
        text-decoration: none;
        li {
            display: inline-block;

            padding: 12px 14px;

            text-decoration: none;
            a {
                text-decoration: none;

                color: white;
                &:visited {
                    text-decoration: none;

                    color: white;
                }
            }
        }
    }
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    background-color: $opal-lightest;
}
