$opal-lightest: lighten($opal, 30%);
$opal-lighter: lighten($opal, 20%);
$opal-light: lighten($opal, 10%);
$opal: rgb(38, 238, 154);
$opal-dark: darken($opal, 10%);
$opal-darker: darken($opal, 20%);
$opal-darkest: darken($opal, 30%);

body {
    background-color: $opal-lightest;
    font-family: sans-serif;
}

#title {
    font-family: monofur, monospace;
    text-align: center;
}

nav {
    text-decoration: none;
    background-color:  $opal-darkest;
    ul {
        text-decoration: none;
        li {
            display: inline-block;
            padding: 12px 14px;
            text-decoration: none;
            a {
                color: white;
                text-decoration: none;
                &:visited {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
