<!DOCTYPE html>
<html>
  <head>
    <title> {{ title }} - Opal Scholar </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <script src="{{ url_for('static', filename='js/fb.js') }}"></script>

  </head>

  <body>
    <h1 id="title"> Opal Scholar </h1>

    <nav>
      <ul>
        <li><a href="home"> Home </a></li>
        <li><a href="about"> About </a></li>
        <li><a href="login">  </a></li>
      </ul>
    </nav>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>


  </body>
</html>
