<!DOCTYPE html>
<html>
  <head>
    <title> {{ title }} - Opal Scholar </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.min.css') }}">

  </head>

  <body>
    <h1 id="title"> Opal Scholar </h1>

    <nav>
      <ul>
        <li><a href="home"> Home </a></li>
        <li><a href="about"> About </a></li>
      </ul>
    </nav>

    <div id="in-a-line">

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div id="sidebar">
        hello
        {% block sidebar %}
        {% endblock %}
      </div>

    </div>

  </body>
</html>
